<h2 *ngIf="client">Welcome {{client.name}}!</h2>

<h3>Product List</h3>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    <input
                        type="checkbox"
                        class="filled-in"
                        id="selectAll"
                    />
                </th>
                <th> Product </th>
                <th> Price </th>
                <th> Actual Stock </th>
                <th> Amount </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    <input
                        type="checkbox"
                        [attr.id]="product.id"
                    />
                    <label [attr.for]="product.id"></label>
                </td>
                <td> {{ product.name }} </td>
                <td> {{ product.price }} </td>
                <td> {{ product.stock }} </td>
                <td> 0 </td>
            </tr>
        </tbody>
    </table>
</div>
