<div class="container">
    <div [hidden]="submitted">
        <h1>Client Login</h1>
        <form #loginForm="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    id="email"
                    type="text"
                    class="form-control"
                    required
                    [(ngModel)]="email"
                    name="email">
                <div [hidden]="email"
                     class="alert alert-danger">
                    Email is required
                </div>
            </div>

            <div class="form-group">
                <label for="password">Email</label>
                <input
                        id="password"
                        type="password"
                        class="form-control"
                        required
                        [(ngModel)]="password"
                        name="password">
                <div [hidden]="password"
                     class="alert alert-danger">
                    Password is required
                </div>
            </div>

            <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!loginForm.form.valid"
                    (click)="login()"
            >
                Login
            </button>
            <div [hidden]="!errorMessage"
                 class="alert alert-danger">
                {{errorMessage}}
            </div>
        </form>
    </div>
</div>
